/*remet les valeurs à zéro en fonction des browser*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}



.navbar{
    background-color: var(--grisfonce);
    position: fixed;
    box-shadow: 0px 3px 10px 3px #131212be;
    
   
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    
}





.h-link{
    color : var(--blanc); 
    padding : 25px; 

}

