main{
    
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.projet_main{
    
    display: grid;
    width: 100vw;
    height: 80vh;
    justify-items: center;
    align-items: center;

    align-content: center;
    justify-content: center;

    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 120%;
    overflow-y: scroll;
    overflow-x: hidden;

    
   

    
}
.pi{
    text-align: center;
    margin: 0;
    padding-top: 30%;

}
.projet{
    padding-top: 10px;
    display: grid;
    align-items: center;
    justify-items: center;

    width: 80%;

    gap: 10%;
}

.projet_p{
    display: grid;

    justify-items: center;
    align-items: center;

    align-content: center;
    justify-content: center;

    gap: 10%;

    grid-template-columns: 1fr 1fr 1fr;

   

   
}

.projet_e{
    display: grid;

   

    justify-items: center;
    align-items: center;

    align-content: center;
    justify-content: center;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
}

.p{
    border: solid;


}

h4{text-align: center;}

